.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}
.item {
  flex: 0 1 calc(25% - 12px);
}
.total {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.report {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
.fields {
  display: flex;
  flex-direction: column;
  max-width: 50%;
  margin-top: 20px;
  gap: 10px;
}
/* .select {
  margin-top: 20px;
} */
.toggle {
  margin-bottom: 20px;
}
.grid {
  display: flex;
}
.progress {
  width: 50%;
  margin-top: 20px;
}
